@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --unit-body-font-family: 'Open Sans', sans-serif;
  --unit-heading-font-family: 'Poppins', sans-serif;
  --unit-primary-color: #ff4a17;
  --unit-secondary-color: #4d4d4d;
  --unit-ternary-color: #999696;
  --unit-body-font-color: #7a7a7a;
  --unit-heading-font-color: #fefefe;
  --unit-common-color-white: #fff;
  --unit-bg-color: #000000;
  --unit-fw-extra-bold: 800;
  --unit-fw-bold: 700;
  --unit-fw-semi-bold: 600;
  --unit-fw-medium: 500;
  --unit-fw-regular: 400;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: var(--unit-bg-color) !important;
  overflow-x: hidden;
}
